body {
    font-family: "Work Sans", sans-serif;
}

:root {
    --main-color: #4ACAB8;
    --secondary-color: #2E4451;
    --section-background-color: #F6F6F6;
    --section-padding: 60px;
    --main-duration: 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

.special-heading {
    color: #DFE0E1;
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -2px;
}

.special-heading+p {
    color: #797979;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}

@media(max-width:767px) {
    .special-heading {
        font-size: 60px !important;
    }

    .special-heading+p {
        margin-top: -20px;

    }
}



/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 40px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 65px;
}

.header .links {
    position: relative;
}

.header .links :hover.icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;

}

.header .links ul::before {
    content: "";
    border-width: 10px;
    height: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}

.header .links:hover ul {
    display: block
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: var(--main-duration);
    color: black;
}

.header .links li a:hover {
    padding-left: 25px;
}

.header .links li:not(:last-child) a {
    border-bottom: 1px solid black;
}

.landing {
    background-image: url(../images/landing.jpg);
    /* background-position:center; */
    background-size: cover;
    /* height: 100vh; */
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;

}

.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;

}

.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
}

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
    ;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    text-align: center;
    padding: 20px;
}

.features .feat i {
    color: var(--main-color);
    font-size: 30px;
}

.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;

}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 150px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media(max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (max-width:1000px) {
    .img-column {
        display: none;
    }
}

.Portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);

}

.Portfolio .Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    padding-top: 100px;
}

.Portfolio .Portfolio-content .card img {
    max-width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Portfolio .Portfolio-content .card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 7px rgb(139, 138, 138);

}

.Portfolio .Portfolio-content .card .info {
    padding: 20px;
}

.Portfolio .Portfolio-content .card .info p {
    line-height: 1.5;
    color: #777;
    margin-bottom: 0px;
}



.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:999px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media(max-width:999px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1
}

.about .about-content .image::after {
    content: "" !important;
    position: absolute !important;
    width: 120px;
    height: 300px !important;
    top: -40px;
    border-left: 80px var(--main-color) solid;
    border-bottom: 80px var(--main-color) solid;
    right: -150px;
    z-index: -1;
}

@media(max-width:599px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
    /* flex: 1 نفس ال */
    /*flex: 1;*/
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;
}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    color: #777;
    line-height: 2;
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    color: var(--main-color);
    font-size: 50px;
    font-weight: 800;
    text-decoration: none;
}

@media(max-width:676px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 23px;
    }
}

@media(max-width:425px) {
    .contact .info .social {
        letter-spacing: -2px;
    }
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

.contact .info .social i {
    color: var(--secondary-color);
    margin-left: 20px;
}

.footer {
    background-color: var(--secondary-color);
    font-size: 20px;
    text-align: center;
    padding: 30px 10px;
    color: white;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}













/* Start About 
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  /* End About */
/* Start Contact 
  .contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
  /* End Contact */
/* Start Footer 
  .footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }
  /* End Footer */